<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardErrorPath</key>
	<string>/tmp/pahkat_err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/pahkat.log</string>
	<key>Label</key>
	<string>no.divvun.pahkatd</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Divvun Installer.app/Contents/MacOS/pahkatd</string>
	</array>

	<key>EnvironmentVariables</key>
    <dict>
           <key>RUST_LOG</key>
           <string>info</string>
    </dict>

	<key>OnDemand</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>

	<key>Sockets</key>
	<dict>
		<key>pahkat</key>
		<dict>
			<key>SockPathName</key>
			<string>/tmp/pahkat</string>
			<key>SockFamily</key>
			<string>Unix</string>
		</dict>
	</dict>
</dict>
</plist>
